$main-color: #0a66c2;
$main-color-hover: #094a80;

.leftbar-container {
  position: sticky;
  padding-top: 70px !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-right: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white !important;
  overflow-y: auto !important;

  .nav {
    flex-grow: 1;
    padding-left: 15px;

    .links {
      display: flex;
      flex-direction: column;
      padding-left: 7px;
      width: 100%;

      .user {
        padding: 10px;
        margin-bottom: 0;
        cursor: pointer;
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 13px;
        color: black;
        font-weight: 600;
        padding: 10px;
        margin-bottom: 10px;

        .categories-button {
          display: flex;
          align-items: center;

          .arrow-icon {
            margin-top: 5px;
          }
        }

        .icon {
          color: $main-color;
          font-size: 1.3rem;
        }
      }

      .active {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 13px;
        background-color: #edeef0;
        font-weight: 600;
        padding: 10px;
        margin-bottom: 10px;

        .icon {
          color: $main-color;
          font-size: 1.3rem;
        }
      }

      .categories {
        display: flex;
        flex-direction: column;
        margin-top: -10px;
        margin-bottom: 10px;

        .category {
          display: flex;
          align-items: center;
          font-size: 0.95rem;
          gap: 10px;
          padding: 10px 0 10px 27px !important;

          .icon {
            font-size: 1.3rem;
          }

          .text {
            text-align: left !important;
          }
        }

        .active-two {
          font-weight: 600;
          color: $main-color;
        }

        .category:hover {
          background-color: #efefef9e !important;
        }
      }

      .active-categories {
        background-color: #edeef0;
      }

      .categories-transition {
        max-height: 500px;
      }

      .categories-item {
        width: 100%;
      }

      .subcategory-container {
        display: flex;
        flex-direction: column;
        
        .subcategory {
          display: flex;
          align-items: center;
          font-size: 0.95rem;
          gap: 10px;
          padding: 10px 0 10px 57px !important;
        }

        .active-two {
          font-weight: 600;
          color: $main-color;
        }

        .subcategory:hover {
          background-color: #efefef9e !important;
        }
      }

      .logout {
        text-align: left;
        width: 100%;
      }

      .item:hover,
      .categories-item:hover {
        background-color: #efefef9e !important;
      }
    }
  }

  .leftbar-footer {
    padding: 10px 32px;
  }
}

.logo-pop {
  font-size: 24px;
  color: $main-color;
  font-weight: 700;
  width: 100%;
  margin: -50px 0 20px 0;
}
