$main-color: #0a66c2;
$main-color-hover: #094a80;
$gray: #e4e6eb;

.leftbar-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-right: 1.7px solid $gray;

  .leftbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 40px;

    .logo {
      font-size: 24px;
      color: $main-color;
      font-weight: 700;
      width: 100%;
      padding: 1rem 1.5rem 0 1.5rem;
    }
  }

  .nav {
    flex-grow: 1;
    padding-left: 15px;

    .links {
      display: flex;
      flex-direction: column;
      padding-left: 7px;
      width: 100%;

      .user {
        padding: 10px;
        margin-bottom: 20px;
      }

      .item {
        color: black;
        font-weight: 600;
        padding: 10px;
        margin-bottom: 10px;
      }

      .logout {
        text-align: left;
        font-weight: unset;
      }

      .active {
        background-color: $main-color;
        color: white;
        font-weight: 600;
        padding: 10px;
        margin-bottom: 10px;
      }

      .item:hover {
        background-color: #002f871f;
      }
    }
  }

  .leftbar-footer {
    padding: 10px;
  }
}
