$main-color: #0a66c2;
$main-color-hover: #094a80;

.add-order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  .error {
    color: red;
  }

  .success-message {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;

    p {
      text-align: center;
      color: green;
    }

    .success-actions {
      margin-top: 10px;

      button {
        padding: 10px 20px;
        background-color: $main-color;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        margin: 10px;

        &:hover {
          background-color: $main-color-hover;
        }
      }
    }
  }

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .add-order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

    .add-order-form-group {
      margin-bottom: 10px;
      width: 100%;

      input[type="number"],
      input[type="text"] {
        padding: 10px;
        border: none;
        border-bottom: 2px solid #ccc;
        width: 100%;
        font-size: 18px;

        &:focus {
          outline: none;
          border-bottom-color: $main-color;
        }
      }

      select {
        padding: 10px;
        border: none;
        border-bottom: 2px solid #ccc;
        width: 100%;
        font-size: 18px;

        &:focus {
          outline: none;
          border-bottom-color: $main-color;
        }
      }
    }

    button[type="submit"] {
      padding: 10px 20px;
      background-color: $main-color;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        background-color: $main-color-hover;
      }
    }
  }
}

.orders-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem;

  .order-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 1rem 0;

    .card {
      margin: 5px 0 !important;
      border: 1px solid #ddd !important;
      border-radius: 8px !important;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;

      .card-img-top {
        height: 320px;
        width: 320px;
        object-fit: contain;
      }

      .card-body {
        .card-title {
          display: flex;
          text-align: center;
          justify-content: center;
          text-transform: uppercase;
          font-size: 14px;
          height: 26px;
          padding-bottom: 5px;
        }

        .card-text {
          border-bottom: 1px dotted #ccc !important;
          font-size: 12px;
          font-weight: lighter;
        }

        button {
          border: 1px solid #ccc !important;
        }
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.s {
  display: block;
  color: red;
  width: 100%;
  text-align: center;
  align-self: center;
  margin: 0 auto;
  font-size: 20px;
}
