.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.orders-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 80%; */
  max-width: 60rem;
  margin: 1rem auto;
}

.order-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.card-text {
  border-bottom: 1px dotted;
  font-size: 12px;
  font-weight: lighter;
}

.card-title {
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  height: 26px;
  padding-bottom: 5px;
}

.card-img-top {
  height: 200px;
  border: 1px solid #ccc;
}

span {
  display: block;
  color: red;
  width: 100%;
  text-align: center;
  align-self: center;
  margin: 0 auto;
  font-size: 20px;
}
