$main-color: #f08804;
$main-color-hover: #c36d00;

.page-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 22% 78%;
  background: #f8f8f8;
  position: relative;
  transition: all 0.3s;

  .leftbar-container {
    // height: 100vh;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f8f8f8;
    padding-top: 50px !important;

    .toggle-button {
      z-index: 999;
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: fixed;
      top: 62px;
      transform: translate(-145%, 25%);
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-style {
        font-size: 25px;
        width: 30px;
        height: 30px;
        opacity: 0.5;
      }

      .next {
        width: 35px;
        height: 33px;
        transform: translate(170%, -55%);
        background: #fff;
        border-radius: 0.5rem;

        &:hover {
          background: #ffffff7a;
        }
      }

      &:hover {
        background: #7d7d7d2b;
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 100% 0 !important;

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(4px);
      z-index: 99;
    }

    .hamburger-button {
      position: fixed;
      top: 6px;
      right: 14px;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      z-index: 9999;
    }

    .hamburger-button span {
      display: block;
      width: 25px;
      height: 4px;
      background-color: black;
      margin-bottom: 5px;
      transition: transform 0.3s ease;
    }

    .hamburger-button span:last-child {
      margin-bottom: 0;
    }

    .hamburger-button.open span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      background-color: white;
    }

    .hamburger-button.open span:nth-child(2) {
      opacity: 0;
    }

    .hamburger-button.open span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
      background-color: white;
    }

    .leftbar-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      background-color: #f8f8f8;
      box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
      transform: translateX(130%);
      z-index: 1000 !important;
      animation-duration: 0.4s;
      animation-timing-function: ease;
      animation-fill-mode: both;
    }

    @keyframes slideIn {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .leftbar-container.open {
      animation-name: slideIn;
    }
  }
}

.grid-remove {
  grid-template-columns: 0% 100% !important;
}
