$main-color: #0a66c2;
$main-color-hover: #094a80;

.page-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 22% 78%;
  background: #f8f8f8;

  .home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f8f8f8;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 100% 0;

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(4px);
      z-index: 5;
    }

    .hamburger-button {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 99;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
    }

    .hamburger-button span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #ccccccb7;
      margin-bottom: 5px;
      transition: transform 0.3s ease;
    }

    .hamburger-button span:last-child {
      margin-bottom: 0;
    }

    .hamburger-button.open span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      background-color: white;
    }

    .hamburger-button.open span:nth-child(2) {
      opacity: 0;
    }

    .hamburger-button.open span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      background-color: white;
    }

    .leftbar-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      background-color: #f8f8f8;
      box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
      transform: translateX(100%);
      z-index: 10;
      animation-duration: 0.4s;
      animation-timing-function: ease;
      animation-fill-mode: both;
    }

    @keyframes slideIn {
      0% {
        transform: translateX(- 100%);
        opacity: 0;
      }

      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @keyframes slideOut {
      0% {
        transform: translateX(21%);
        opacity: 1;
      }

      100% {
        transform: translateX(100%);
        opacity: 0;
      }
    }

    .leftbar-container.open {
      animation-name: slideIn;
    }

    .leftbar-container.closed {
      animation-name: slideOut !important;
    }
  }
}
