$main-color: #0a66c2;
$main-color-hover: #094a80;

section {
  .auth-left-section {
    background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.61),
        rgba(0, 0, 0, 0.4)
      ),
      url('../../assets/pss-bg-phone.jpg') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 100%;
  }

  .auth-form {
    width: 100%;

    input {
      background: #eff0f6;
    }

    .divPassword {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .divPassword > div {
      display: flex;
      align-items: center;
      position: absolute;
      right: 20px;
      height: 100%;
      cursor: pointer;
    }

    .inputEmail,
    .divPassword {
      width: 70%; /* Match the desired width */
    }

    // Styling for autofilled input fields
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {

      // Applying an inset box shadow to indicate autofilled fields
      -webkit-box-shadow: 0 0 0 30px #eff0f6 inset !important;
    }

    button {
      background: $main-color !important;
    }

    div a {
      color: $main-color !important;
    }

    button:hover {
      background: $main-color-hover !important;
    }
  }

  @media screen and (max-width: 768px) {
    .options-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 3rem;
    }

    .auth-left-section {
      position: relative;
      width: 100% !important;
      background:
        linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.758),
          rgba(0, 0, 0, 0.57)
        ),
        url('../../assets/pss-bg-phone.jpg') no-repeat;
      background-position: 15%;
      background-size: 100% 100% !important;
      height: 100%;
    }

    .auth-form-section {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h2 {
        color: white;
      }

      form {
        padding-bottom: 0 !important;

        .inputEmail,
        .divPassword {
          width: 100%;
          min-width: 260px;
        }

        button {
          min-width: 96px;
        }
      }

      .error {
        text-align: center;
      }

      div span {
        color: white;
        font-size: 1.1rem;
      }

      div a {
        color: white;
        display: flex;
        justify-content: center;
        border-radius: 0.375rem;
        font-weight: 600;
        font-size: 20px;
        padding: 0.5rem 0.75rem;
        text-decoration: unset;
        width: fit-content;
      }

      div a:hover {
        background-color: $main-color;
      }
    }
  }
}
