$main-color: #003087;

.product-details {
  display: flex;
  justify-content: space-between;
  padding: 3% 5% 0 0;
  width: 100%;

  h1 {
    color: $main-color;
    text-align: center;
    margin: 10px 0;
    font-size: 26px;
  }

  .button-container {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;

    .link-back {
      display: inline-block;
      margin-top: 30px;
      font-size: 26px;
      padding: 10px 35px;
      background-color: $main-color;
      color: white;
      text-decoration: none;
      border-radius: 0 40px 40px 0;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;
    }

    .link-back:hover {
      background-color: #001f5a;
      color: #fff;
    }
  }

  .img-details {
    width: 450px;
    height: 450px;
    border-radius: 5px;
    border: 1px solid $main-color;
    margin: 0 10% 0 10%;
  }

  .product-details-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20%;

    div {
      width: 300px;
      text-align: end;

      h1 {
        text-align: end;
      }

      p {
        margin: 0;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;

        span:nth-child(even) {
          font-weight: bold;
        }
      }

      p:nth-child(odd) {
        background-color: rgba(128, 128, 128, 0.162);
      }
    }

    .button-order {
      display: inline-block;
      margin-top: 30px;
      font-size: 20px;
      padding: 10px 35px;
      background-color: $main-color;
      border: 1px solid $main-color;
      color: white;
      text-decoration: none;
      border-radius: 50px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;
    }

    .button-order:hover {
      background-color: #001f5a;
      color: #fff;
    }
  }
}
