$main-color: #0a66c2;
$main-color-hover: #094a80;
$accent-color: #e44d26;

.container {
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center; 

  .title {
    margin-bottom: 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: 26px;
  }

  .product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    .product-entry {
      display: flex;
      background-color: white;
      position: relative;
      align-items: center;
      gap: 1.2rem;
      padding: 1rem;
      border-radius: 20px;
      margin-bottom: 8px;

      span {
        flex-grow: 1;
      }

      .ellipsis {
        color: #65676bb7;
        cursor: pointer;
      }

      .popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 37px;
        right: 12px;
        transform: translateX(-50%);
        z-index: 1;

        svg {
          border: none;
          z-index: 9;
        }
    
        .delete-reset {
          display: flex;
          gap: 8px;
          background: white;
          // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 16px rgba(0, 0, 0, 0.2);
          border-radius: 6px;

          button {
            // cursor: pointer;
            // border: none;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            // gap: 6px;
            padding: 10px;
    
            .icon {
              color: #65676b;
            }
          }
        }
      }

      .button-like {
        display: flex;
        gap: 8px;
        z-index: 1;

        span {
          color: #65676b;
        }
      }
    }
  }

  form {
    position: fixed;
    background: white;
    bottom: 2.6rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;

    div {
      display: flex;
      gap: 10px;
      padding: 9px 12px;
      background-color: #f0f2f5;
      border-radius: 22px;

      #name {
        width: 100%;
        background-color: #f0f2f5;
        border: none;
      }

      button {
        z-index: 999;
        color: $main-color;

        .icon {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:hover {
          color: $main-color-hover;
        }
      }

      #name:focus,
      button:focus {
        outline: none;
      }
    }
  }

  #to-bottom {
    margin-bottom: 2rem;
  }

  // @keyframes bounce {
  //   0%, 20%, 50%, 80%, 100% {
  //     transform: translateY(0);
  //   }
  //   40% {
  //     transform: translateY(-20px);
  //   }
  //   60% {
  //     transform: translateY(-10px);
  //   }
  // }

  @media (min-width: 768px) {
    .product-list {
      gap: 1.5rem; // Increased gap for desktop
    }

    form {
      padding: 1rem 2rem; // Adjusted padding for desktop
    }
  }
}

