.splash-section {
  background: url('../assets/pss-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;

  .splash-container {
    background: linear-gradient(258deg, #24665692, #2b246662);
  }

  @media screen and (max-width: 768px) {
    background: url('../assets/pss-bg-phone.jpg');
    background-size: 100% 100%;

    .splash-container {
      padding: 0 1rem;
    }
  }
}

.splash-card {
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  padding: 5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;

  @media screen and (max-width:  768px) {
    background-color: transparent;
    padding: 1rem 0.5rem;
    max-width: 78% !important;

    .link-button {
      flex-direction: column-reverse;
      gap: 1rem;
    }

    .link-button a {
      margin: 0 !important;
    }
  }
}
