$main-color: #0a66c2;

.splash-section {
  background: url('../assets/pss-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;

  .splash-container {
    background: linear-gradient(258deg, #24665692, #2b246662);
  }

  @media screen and (max-width: 768px) {
    background: url('../assets/pss-bg-phone.jpg');
    background-size: 100% 100%;

    .splash-container {
      padding: 0 1rem;
    }
  }

  @media screen and (max-width: 479px) {
    background: url('../assets/pss-bg-phone-small.jpg');
    background-size: 100% 100%;
  }
}

.splash-card {
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  padding: 5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;

  .link-button a:nth-child(2) {
    background: $main-color;
    color: white;
  }

  @media screen and (max-width: 768px) {
    background-color: transparent;
    padding: 1rem 0.5rem;
    max-width: 75% !important;
    max-height: 45% !important;
    margin-bottom: 4rem;

    .link-button {
      flex-direction: column-reverse;
      gap: 0.5rem !important;
    }

    .link-button a {
      margin: 0 !important;
    }

    p {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 479px) {
    max-width: 95% !important;
    height: 100% !important;
    margin-bottom: 5.3rem;
  }
}
