$main-color: #0a66c2;
$main-color-hover: #094a80;

.container {
  .home-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;

    h1 {
      margin-top: 10px;
      font-weight: 700;
      font-size: 26px;
    }

    h2 {
      margin-top: 10px;
      font-weight: 700;
      font-size: 20px;
    }

    .title-bar {
      color: rgba(0, 0, 0, 0.306);
      font-weight: 500;
      border-bottom: 4px dotted #ddd;
      padding-bottom: 10px;
      text-align: center;

      span {
        color: rgba(255, 0, 0, 0.45);
      }
    }

    .swiper {
      display: flex;
      flex-direction: row;
      margin: 1rem auto;
      width: 100%;
      padding: 1rem 0;
      text-align: center;
      margin-top: 4rem;

      .swiper-scrollbar {
        display: none;
      }

      span {
        display: block;
        color: red;
        width: 100%;
        text-align: center;
        align-self: center;
        margin: 0 auto;
        font-size: 20px;
      }

      .swiper-slide {
        width: 300px !important;
        height: inherit;
        text-align: center;
        align-items: center;
        border-radius: 1.5rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        img {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          border: 1px solid #ddd;
          object-fit: cover;
          transition: transform 0.5s ease;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        img:hover {
          transform: scale(1.1);
        }

        .card-body {
          h2 {
            color: black;
            border-bottom: 4px dotted #ddd;
            padding-bottom: 10px;
          }

          p {
            color: rgba(0, 0, 0, 0.443);
            margin: 0;
          }

          h2:hover {
            color: $main-color;
          }

          .quantity {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .button {
            display: inline-block;
            cursor: pointer;
            color: $main-color;
            background-color: #edeef0;
            text-decoration: none;
            width: 100px !important;
            padding: 8px 20px;
            border-radius: 4px;
            margin: 0.3rem 10px;
            font-size: 14px;
            font-weight: 500;
            transition: background-color 0.3s ease;
          }

          .button:hover {
            background-color: #d8dae0 !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .home-cont {
      .swiper {
        flex-direction: column !important;
        align-items: center;
        gap: 1rem;

        .swiper-slide {
          height: auto !important;
        }
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  backdrop-filter: blur(20px);
  width: fit-content;
  padding: 1rem 0;
  color: $main-color !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: $main-color-hover !important;
}
