$main-color: #0a66c2;
$main-color-hover: #094a80;

.container {
  .home-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -4rem;
    width: 100%;

    h1 {
      margin-top: 10px;
      font-weight: 700;
      font-size: 26px;
    }

    h2 {
      margin-top: 10px;
      font-weight: 700;
      font-size: 20px;
    }

    .title-bar {
      color: rgba(0, 0, 0, 0.306);
      font-weight: 500;
      border-bottom: 4px dotted rgba(0, 0, 0, 0.192);
      padding-bottom: 10px;
      text-align: center;

      span {
        color: rgba(255, 0, 0, 0.45);
      }
    }

    .swiper {
      display: flex;
      flex-direction: row;
      margin: 1rem auto;
      width: 100%;
      padding: 1rem 0;
      text-align: center;
      margin-top: 4rem;

      .swiper-scrollbar {
        display: none;
      }

      span {
        display: block;
        color: red;
        width: 100%;
        text-align: center;
        align-self: center;
        margin: 0 auto;
        font-size: 20px;
      }

      .swiper-slide {
        width: 300px !important;
        height: inherit;
        text-align: center;
        align-items: center;
        border-radius: 1.5rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          border: 4px solid $main-color;
          transition: transform 0.5s ease;
        }

        img:hover {
          transform: scale(1.1);
        }

        .card-body {
          h2 {
            color: black;
            border-bottom: 4px dotted rgba(0, 0, 0, 0.192);
            padding-bottom: 10px;
          }

          p {
            color: rgba(0, 0, 0, 0.443);
            margin: 0;
          }

          h2:hover {
            color: $main-color;
            text-decoration: underline;
          }

          .quantity {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .button {
            display: inline-block;
            cursor: pointer;
            color: #fff;
            background: $main-color;
            text-decoration: none;
            padding: 4px 10px;
            border-radius: 4px;
            margin: 0.3rem 10px;
            font-size: 13px;
          }

          .button:hover {
            background: $main-color-hover;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 100% 0;

    .hamburger-button {
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 99;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
    }

    .hamburger-button span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $main-color;
      margin-bottom: 5px;
      transition: transform 0.3s ease;
    }
    
    .hamburger-button span:last-child {
      margin-bottom: 0;
    }
    
    .hamburger-button.open span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger-button.open span:nth-child(2) {
      opacity: 0;
    }
    
    .hamburger-button.open span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .leftbar-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      background-color: #f8f8f8;
      box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
    
    .leftbar-container.open {
      transform: translateX(0);
    }

    .close-button {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
    }

    .close-button::before,
    .close-button::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #000;
      transition: transform 0.3s ease;
    }

    .close-button::before {
      transform: rotate(45deg);
    }

    .close-button::after {
      transform: rotate(-45deg);
    }

    .close-button.open::before,
    .close-button.open::after {
      transform: rotate(0);
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  background: rgba(0, 0, 0, 0.216);
  backdrop-filter: blur(20px);
  width: fit-content;
  padding: 1rem 0;
  color: $main-color !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.18);
}
