$main-color: #0a66c2;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 35px 6px 35px;
  font-size: 16px;
  z-index: 99;

  .nav-first {
    display: flex;
    gap: 10px;

    .navbar-header {
      .logo {
        font-size: 24px;
        color: $main-color;
        font-weight: 700;
        width: 100%;
      }
    }

    .navbar-logo img {
      width: 30px;
      height: 30px;
    }

    .navbar-search {
      position: relative;
      display: flex;
      align-items: center;
      
      input[type="text"] {
        padding: 5px 5px 5px 40px;
        width: 300px !important;
        border: none;
        border-radius: 5px;
        transition: box-shadow 0.3s ease-in-out;
        background-color: #f0f2f5;
        position: relative;
        z-index: 0;
        
        &:focus {
          outline: none;
          box-shadow: none; 
        }
      }
      
      .search-icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #65676b;
        z-index: 1; 
      }
    }
  }

  .nav-second {
    display: flex;

    .navbar-links {
      display: flex;
      
      .navbar-link {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 86px;
        align-items: center;
        margin-right: 20px;
        color: #626262;
  
        .nav-icon {
          font-size: 20px;
        }
  
        .text {
          font-size: 13px;
          font-weight: 100;
          padding: 0 !important;
        }
      }
    }
  
    .navbar-profile {
      display: flex;
      align-items: center;
  
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
  
      span {
        // font-weight: bold;
      }
    }
  }
}
