.formGroup {
  margin-bottom: 15px;
  width: 100%;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 24px;
  border-radius: 16px;
  background: #EFF0F6;
  transition: border-color 0.3s ease;

  .eye {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.inputControl {
  width: 100%;

  &::placeholder {
    color: #A0A3BD;
  }
}

.inputFill {
  margin-top: 14px; /* Adjust the value based on the desired descent */
  transition: margin-top 0.3s ease;
}

.disabled {
  color: #A0A3BD;
  cursor: not-allowed;
  background: #EFF0F6;
}

.error {
  border: 2px solid #ED2E7E;
  background: #FFF3F8;
}

.success {
  border: 2px solid #00BA88;
  background:#F2FFFB;
}

.formText {
  font-size: 12px;
  color: #999;
}

.errorMessage,
.successMessage,
.textMuted {
  color: inherit;
  font-size: 12px;
  margin-top: 5px;
}

.errorMessage {
  display: flex;
  color: #C30052;
  align-items: center;
  margin-top: 8px;
  width: 325px;
  height: 22px;
}

.successMessage {
  display: flex;
  color: #00966D;
  align-items: center;
  margin-top: 8px;
  width: 325px;
  height: 22px;
}

.textMuted {
  display: flex;
  color: #6E7191;
  align-items: center;
  margin-top: 8px;
  width: 325px;
  height: 22px;
  font-weight: 500;
}

/* Adjusted styles for active and filled */
.active {
  border: 2px solid #14142B;
}

.filled {
  background-color: #f5f5f5;
  padding-top: 15px;
}

.closeIcon {
  background: #EFF0F6;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.closeIconError {
  background: #FFF3F8;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.closeIconSuccess {
  background:#F2FFFB;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.closeIcon:hover {
  transform: scale(1.2);
}

.usernameDisplay {
  position: absolute;
  background: transparent;
  width: 108px;
  height: 22px;
  top: 4px;
  left: 24px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  color:#6E7191;

  span {
    background: transparent;
  }
}

// Styling for autofilled input fields
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{

  // Applying an inset box shadow to indicate autofilled fields
    -webkit-box-shadow: 0 0 0 30px #EFF0F6 inset !important;
}