$main-color: #0a66c2;

.project-management {
  overflow-x: hidden !important;

  h1 {
    font-size: 2rem;
    color: #333;
  }

  p {
    font-size: 1.2rem;
    color: #666;
    margin: 10px;
  }

  .management {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding-bottom:  45px;

    .filter-input {
      input {
        padding: 4px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 40%;
        font-size: 16px;
        transition: border 0.3s, padding 0.3s; 
      }

      input:focus,
      input:hover {
        border: 1px solid #ccc;
        outline: none;
      }
    }

    .table-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      position: sticky;
    }

    .styled-table {
      width: 100%;
      border-collapse: collapse;
      font-size: 16px;
      text-align: left;
    }

    .styled-table th,
    .styled-table td {
      padding: 0 15px !important;
      border-bottom: 1px solid #ddd;
    }

    .gain {
      color: $main-color !important;
    }

    th {
      button {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .styled-table thead th {
      background-color: #f2f2f2;
      color: #333;
      font-weight: bold;
    }

    .styled-table tbody tr:hover {
      background-color: #f5f5f5;
    }

    .styled-table img {
      max-width: 100px;
      height: 100px;
      padding: 0 5px !important;
    }

    .vente {
      color: red !important;
    }
  }

  .warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 20px;
  }

  .login-manager {
    text-decoration: underline;
  }

  .login-manager:hover {
    color: $main-color;
  }
}

@media screen and (max-width: 768px) {
  .project-management {
    .management {
      margin: 5px !important;

      .filter-input {
        input {
          width: 100%;
        }
      }

      .table-title {
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
      }

      .styled-table {
        font-size: 14px;
      }

      .styled-table th,
      .styled-table td {
        padding: 0;
      }

      .styled-table .prix,
      .styled-table .quantity {
        max-width: 40px !important;
      }

      .num {
        max-width: 25px !important;
      }

      .name {
        max-width: 110px !important;
      }

      .styled-table img {
        max-width: 50px;
        height: 50px !important;
      }

      .cat {
        display: none;
      }
    }
  }
}
