$main-color: #f08804;
$main-color-hover: #c36d00;

footer {
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f5f5ff;
  }

  form {
    // width: 50%;
    div {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .main-text div {
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      margin-top: 70px;
      padding-bottom: 40px;
      border-bottom: 2px solid #646369;
    }
  }

  input[type="text"]:valid,
  input[type="email"]:valid,
  textarea:valid {
    border: 1px solid rgba(128, 128, 128, 0.45);
    background-image: linear-gradient(to top, rgba(128, 128, 128, 0.176), rgba(128, 128, 128, 0.046));
  }

  /* VALIDATION FORM */
  input:focus,
  textarea:focus {
    outline: none;
    border: none;
  }

  #message,
  #name,
  #email {
    border: none;
    border-radius: 5px;
    width: inherit;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin: 0;
    margin-top: 1rem;
  }

  .error input,
  .error textarea {
    background-image:
      linear-gradient(
        to top,
        rgba(255, 0, 0, 0.176),
        rgba(255, 0, 0, 0.046)
      );
  }

  .success input,
  .success textarea {
    border: 2px solid blue;
    background: white;
    background-image:
      linear-gradient(
        to top,
        rgba(0, 0, 255, 0.176),
        rgba(0, 0, 255, 0.046)
      );
    font-size: 14px;
    width: inherit;
    margin-top: 0;
    padding: 10px;
  }

  .error small {
    color: red;
    background: white;
    font-size: 14px;
    width: inherit;
    margin-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px;
  }

  #overralError {
    margin-top: 30px;
    border-radius: 4px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  #bottom {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

#see-footer {
  text-align: center;
  width: fit-content;
  font-size: 15px;
  color: #f5f5ff;
  background: $main-color;
  background-image: linear-gradient($main-color-hover 0, $main-color 100%);
  border-radius: 4px;
  border: none;
  padding: 12px;
  margin: 0 auto;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  touch-action: manipulation;

  &:hover {
    background: $main-color-hover;
  }
}

.social-icone {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-bottom: 20px;

  .flex-nav {
    width: 100%;
    ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      gap: 15px;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
  
        &:hover {
          text-decoration: underline;
        }
  
        span {
          margin-left: 10px;
          font-size: 16px; 
        }
      }
    }
  }
  
  @media (max-width: 768px) { 
    .flex-nav {
      ul {
        justify-content: space-around;
        span {
          display: none;
        }
      }
    }
  }
}

