$main-color: #f08804;
$main-color-hover: #c36d00;
$accent-color: #e44d26;

.hero-slider {
  .hero-slider-wrapper {
    display: flex;
    position: relative;
    background-repeat: no-repeat;

    .hero-slider-previous {
      transform: scaleX(-1);
      position: absolute;
      top: 50%;
      left: 0;
    }

    .hero-slider-next {
      position: absolute;
      top: 50%;
      right: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .hero-slider-previous,
    .hero-slider-next {
      top: 20% !important;
    }
  }
}