$main-color: #f08804;
$main-color-hover: #c36d00;
$accent-color: #e44d26;

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: 768px) {
    position: relative;
  }
}
