$main-color: #f08804;
$main-color-hover: #c36d00;
$accent-color: #e44d26;

.carousel {
  width: 100% !important;
  background-size: cover;

  .carousel-inner {
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    width: 100% !important;
    transition-duration: 1000s !important;

    .img {
      width: 100vw !important;
      background-size: cover !important;
      background-position: center;
      display: none;
    }
  }

  .carousel-control-next {
    // position: absolute;
    // top: 50%;
    // right: 0;
  }

  .carousel-indicators {
    display: none;
  }


  @media screen and (max-width: 768px) {
    .hero-slider-slide-background-image {
      border-radius: 5px !important;
    }

    .hero-slider-previous,
    .hero-slider-next {
      top: 20% !important;
    }
  }
}
